*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}
html , body{
    height: 100%;
    width: 100%;
}
.container{
    height: 100%;
    background: #333;
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    grid-gap: 20px 0px;
}
.container > h1{
    text-align: center;
}
.main{
    display: grid;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background: #444;
}
.main > textarea{
    padding: 20px;
    height: 400px;
    width: 600px;
    background: #555;
    outline: none;
    font-size: 18px;
}
.main > p{
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
.main > p > span{
    color: lightgray;
}